<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tracy.gd.IDao.ExpenseMapper" >
  <resultMap id="BaseResultMap" type="com.tracy.gd.domain.Expense" >
    <id column="e_id" property="eId" jdbcType="INTEGER" />
    <result column="e_la_id" property="eLaId" jdbcType="INTEGER" />
    <result column="e_la_cpt_id" property="eLaCptId" jdbcType="INTEGER" />
    <result column="e_la_user_id" property="eLaUserId" jdbcType="INTEGER" />
    <result column="e_lend_time" property="eLendTime" jdbcType="TIMESTAMP" />
    <result column="e_sreturn_time" property="eSreturnTime" jdbcType="TIMESTAMP" />
    <result column="e_areturn_time" property="eAreturnTime" jdbcType="TIMESTAMP" />
    <result column="e_is_returned" property="eIsReturned" jdbcType="VARCHAR" />
    <result column="e_days" property="eDays" jdbcType="INTEGER" />
    <result column="e_expense" property="eExpense" jdbcType="DECIMAL" />
    <result column="attribute1" property="attribute1" jdbcType="VARCHAR" />
    <result column="attribute2" property="attribute2" jdbcType="VARCHAR" />
    <result column="attribute3" property="attribute3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    e_id, e_la_id, e_la_cpt_id, e_la_user_id, e_lend_time, e_sreturn_time, e_areturn_time, 
    e_is_returned, e_days, e_expense, attribute1, attribute2, attribute3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gd_expense
    where e_id = #{eId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gd_expense
    where e_id = #{eId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tracy.gd.domain.Expense" >
    insert into gd_expense (e_id, e_la_id, e_la_cpt_id, 
      e_la_user_id, e_lend_time, e_sreturn_time, 
      e_areturn_time, e_is_returned, e_days, 
      e_expense, attribute1, attribute2, 
      attribute3)
    values (#{eId,jdbcType=INTEGER}, #{eLaId,jdbcType=INTEGER}, #{eLaCptId,jdbcType=INTEGER}, 
      #{eLaUserId,jdbcType=INTEGER}, #{eLendTime,jdbcType=TIMESTAMP}, #{eSreturnTime,jdbcType=TIMESTAMP}, 
      #{eAreturnTime,jdbcType=TIMESTAMP}, #{eIsReturned,jdbcType=VARCHAR}, #{eDays,jdbcType=INTEGER}, 
      #{eExpense,jdbcType=DECIMAL}, #{attribute1,jdbcType=VARCHAR}, #{attribute2,jdbcType=VARCHAR}, 
      #{attribute3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tracy.gd.domain.Expense" >
    insert into gd_expense
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="eId != null" >
        e_id,
      </if>
      <if test="eLaId != null" >
        e_la_id,
      </if>
      <if test="eLaCptId != null" >
        e_la_cpt_id,
      </if>
      <if test="eLaUserId != null" >
        e_la_user_id,
      </if>
      <if test="eLendTime != null" >
        e_lend_time,
      </if>
      <if test="eSreturnTime != null" >
        e_sreturn_time,
      </if>
      <if test="eAreturnTime != null" >
        e_areturn_time,
      </if>
      <if test="eIsReturned != null" >
        e_is_returned,
      </if>
      <if test="eDays != null" >
        e_days,
      </if>
      <if test="eExpense != null" >
        e_expense,
      </if>
      <if test="attribute1 != null" >
        attribute1,
      </if>
      <if test="attribute2 != null" >
        attribute2,
      </if>
      <if test="attribute3 != null" >
        attribute3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="eId != null" >
        #{eId,jdbcType=INTEGER},
      </if>
      <if test="eLaId != null" >
        #{eLaId,jdbcType=INTEGER},
      </if>
      <if test="eLaCptId != null" >
        #{eLaCptId,jdbcType=INTEGER},
      </if>
      <if test="eLaUserId != null" >
        #{eLaUserId,jdbcType=INTEGER},
      </if>
      <if test="eLendTime != null" >
        #{eLendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="eSreturnTime != null" >
        #{eSreturnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="eAreturnTime != null" >
        #{eAreturnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="eIsReturned != null" >
        #{eIsReturned,jdbcType=VARCHAR},
      </if>
      <if test="eDays != null" >
        #{eDays,jdbcType=INTEGER},
      </if>
      <if test="eExpense != null" >
        #{eExpense,jdbcType=DECIMAL},
      </if>
      <if test="attribute1 != null" >
        #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        #{attribute3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tracy.gd.domain.Expense" >
    update gd_expense
    <set >
      <if test="eLaId != null" >
        e_la_id = #{eLaId,jdbcType=INTEGER},
      </if>
      <if test="eLaCptId != null" >
        e_la_cpt_id = #{eLaCptId,jdbcType=INTEGER},
      </if>
      <if test="eLaUserId != null" >
        e_la_user_id = #{eLaUserId,jdbcType=INTEGER},
      </if>
      <if test="eLendTime != null" >
        e_lend_time = #{eLendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="eSreturnTime != null" >
        e_sreturn_time = #{eSreturnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="eAreturnTime != null" >
        e_areturn_time = #{eAreturnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="eIsReturned != null" >
        e_is_returned = #{eIsReturned,jdbcType=VARCHAR},
      </if>
      <if test="eDays != null" >
        e_days = #{eDays,jdbcType=INTEGER},
      </if>
      <if test="eExpense != null" >
        e_expense = #{eExpense,jdbcType=DECIMAL},
      </if>
      <if test="attribute1 != null" >
        attribute1 = #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        attribute2 = #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        attribute3 = #{attribute3,jdbcType=VARCHAR},
      </if>
    </set>
    where e_id = #{eId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tracy.gd.domain.Expense" >
    update gd_expense
    set e_la_id = #{eLaId,jdbcType=INTEGER},
      e_la_cpt_id = #{eLaCptId,jdbcType=INTEGER},
      e_la_user_id = #{eLaUserId,jdbcType=INTEGER},
      e_lend_time = #{eLendTime,jdbcType=TIMESTAMP},
      e_sreturn_time = #{eSreturnTime,jdbcType=TIMESTAMP},
      e_areturn_time = #{eAreturnTime,jdbcType=TIMESTAMP},
      e_is_returned = #{eIsReturned,jdbcType=VARCHAR},
      e_days = #{eDays,jdbcType=INTEGER},
      e_expense = #{eExpense,jdbcType=DECIMAL},
      attribute1 = #{attribute1,jdbcType=VARCHAR},
      attribute2 = #{attribute2,jdbcType=VARCHAR},
      attribute3 = #{attribute3,jdbcType=VARCHAR}
    where e_id = #{eId,jdbcType=INTEGER}
  </update>
  <select id="FindRecToReturn" resultMap="BaseResultMap" parameterType="com.tracy.gd.domain.Expense" >
    SELECT
    <include refid="Base_Column_List" />
    FROM
    gd_expense
    WHERE 1=1
    <if test="eLaId != null" >
    AND e_la_id = #{eLaId,jdbcType=INTEGER}
    </if>
    <if test="eLaCptId != null" >
    AND e_la_cpt_id = #{eLaCptId,jdbcType=INTEGER}
    </if>
    <if test="eLaUserId != null" >
    AND  e_la_user_id = #{eLaUserId,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectDays" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    SELECT
    TIMESTAMPDIFF(
    DAY,
    date_format(e_lend_time, '%Y-%c-%d'),
    date_format(e_areturn_time, '%Y-%c-%d')
    )
    FROM
    gd_expense where 1 = 1
    AND e_id = #{eId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByLaId" parameterType="java.lang.Integer" >
    delete from gd_expense WHERE
     e_la_id = #{eLaId,jdbcType=INTEGER}
  </delete>
</mapper>